# generated: '2026-09-04'
# method: derived
# source: https://www.xgsenergy.com/wp-json/ (live route index, probed 2026-09-04)
openapi: 3.1.0
info:
  title: XGS Energy Search API
  version: wp/v2
  description: Public cross-content search over xgsenergy.com.
  contact:
    name: XGS Energy
    url: https://www.xgsenergy.com/contact/
  x-provenance:
    generated: '2026-09-04'
    method: derived
    source: https://www.xgsenergy.com/wp-json/ (live route index, probed 2026-09-04)
    note: Derived from the self-describing WordPress REST route index served by XGS Energy at https://www.xgsenergy.com/wp-json/.
      Parameters, types, defaults and enums are copied from that document; response codes, headers and
      error codes were observed on live anonymous requests on 2026-09-04. Nothing here is invented. XGS
      Energy publishes no OpenAPI of its own.
servers:
- url: https://www.xgsenergy.com/wp-json
  description: XGS Energy WordPress REST API (www.xgsenergy.com)
tags:
- name: Search
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search site content
      description: Anonymous cross-content search over xgsenergy.com — posts and pages — returning lightweight
        id / title / url / type / subtype records. Verified live at 127 searchable objects on 2026-09-04.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - category
            - post_tag
            - any
          default: any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      responses:
        '200':
          description: A page of records.
          headers:
            X-WP-Total:
              description: Total records matching the query (observed live).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages at the current per_page (observed live).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links, rel="prev" / rel="next" (observed live).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Invalid parameter. WordPress REST error envelope; observed code `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authorized for the requested context. Observed codes `rest_forbidden`, `rest_cannot_view`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (not RFC 9457 problem+json).
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
