openapi: 3.2.0
info:
  title: XGS Energy o Embed API
  version: wp/v2
  description: oEmbed 1.0 provider endpoint for xgsenergy.com URLs.
  contact:
    name: XGS Energy
    url: https://www.xgsenergy.com/contact/
  x-provenance:
    generated: '2026-09-04'
    method: derived
    source: https://www.xgsenergy.com/wp-json/ (live route index, probed 2026-09-04)
    note: Derived from the self-describing WordPress REST route index served by XGS Energy at https://www.xgsenergy.com/wp-json/. Parameters, types, defaults and enums are copied from that document; response codes, headers and error codes were observed on live anonymous requests on 2026-09-04. Nothing here is invented. XGS Energy publishes no OpenAPI of its own.
servers:
- url: https://www.xgsenergy.com/wp-json
  description: XGS Energy WordPress REST API (www.xgsenergy.com)
tags:
- name: o Embed
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOEmbed
      summary: Get oEmbed metadata for an xgsenergy.com URL
      description: oEmbed 1.0 provider endpoint returning embeddable rich metadata — provider, author, title, dimensions and iframe HTML — for any xgsenergy.com post or page URL. Verified live anonymously on 2026-09-04.
      tags:
      - o Embed
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        schema:
          type: string
          default: 600
      - name: url
        in: query
        required: true
        schema:
          type: string
        description: The URL of the resource for which to fetch oEmbed data.
      responses:
        '200':
          description: oEmbed 1.0 rich response.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Resource not found. Observed code `rest_post_invalid_id`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (not RFC 9457 problem+json).
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
