# generated: '2026-09-04'
# method: derived
# source: https://www.xgsenergy.com/wp-json/ (live route index, probed 2026-09-04)
openapi: 3.1.0
info:
  title: XGS Energy Discovery API
  version: wp/v2
  description: Self-describing discovery metadata for the xgsenergy.com REST surface.
  contact:
    name: XGS Energy
    url: https://www.xgsenergy.com/contact/
  x-provenance:
    generated: '2026-09-04'
    method: derived
    source: https://www.xgsenergy.com/wp-json/ (live route index, probed 2026-09-04)
    note: Derived from the self-describing WordPress REST route index served by XGS Energy at https://www.xgsenergy.com/wp-json/.
      Parameters, types, defaults and enums are copied from that document; response codes, headers and
      error codes were observed on live anonymous requests on 2026-09-04. Nothing here is invented. XGS
      Energy publishes no OpenAPI of its own.
servers:
- url: https://www.xgsenergy.com/wp-json
  description: XGS Energy WordPress REST API (www.xgsenergy.com)
tags:
- name: Discovery
paths:
  /:
    get:
      operationId: getRouteIndex
      summary: Get the self-describing route index
      description: Returns the site name, description, home URL, the registered namespaces (21 at capture),
        the authentication schemes, and the full route index (266 routes at capture) with per-argument
        types, defaults and enums. This is the document every other artifact in this repository was derived
        from.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          default: view
      responses:
        '200':
          description: The API root index.
          content:
            application/json:
              schema:
                type: object
  /wp/v2:
    get:
      operationId: getCoreNamespaceIndex
      summary: Get the wp/v2 namespace index
      description: Returns the route index scoped to the WordPress core wp/v2 namespace.
      tags:
      - Discovery
      responses:
        '200':
          description: The wp/v2 namespace index.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/types:
    get:
      operationId: listContentTypes
      summary: List registered content types
      description: Returns every registered post type with its labels, REST base and capabilities. Verified
        live and anonymously readable on 2026-09-04.
      tags:
      - Discovery
      responses:
        '200':
          description: Registered content types keyed by slug.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List registered taxonomies
      description: Returns every registered taxonomy with the content types it applies to. Verified live
        and anonymously readable on 2026-09-04.
      tags:
      - Discovery
      responses:
        '200':
          description: Registered taxonomies keyed by slug.
          content:
            application/json:
              schema:
                type: object
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List publication statuses
      description: Returns the publication statuses visible to the caller.
      tags:
      - Discovery
      responses:
        '200':
          description: Publication statuses keyed by slug.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Not authorized for the requested context. Observed codes `rest_forbidden`, `rest_cannot_view`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (not RFC 9457 problem+json).
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_invalid_param.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
            details:
              type: object
      required:
      - code
      - message
